{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h2> Page d'accueil </h2>
{% endblock %}


{% block piedpage %}
    <p> Footer page d'accueil </p>
{% endblock %}

