{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }}{% endblock %}

{% block body %}
    <h1> Page d'accueil </h1>

    <div class="card-columns">
        {% for game in games %}
            {{include  ("game/_card.html.twig")}}
        {% endfor %}
    </div>
    <hr>
    <p>Nombre de joueurs actuellement sur le site {{players}}</p>
    <hr>
    <h2>Joueurs ayant déjà gagné une partie : </h2>
    <ul>
        {% for joueur in winners %}
            <li>{{ joueur.nickname ~ "(" ~ joueur.email ~ ")" }}</li>
        {% endfor %}
        
    </ul>

{% endblock %}

{% block piedpage %}
    <p> Footer page d'accueil </p>
{% endblock %}

