{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
    <h2>Mes informations</h2>
    <ul class="list-group">
        <li class="list-group-item">Identifiant :{{ app.user.id}}</li>
        <li class="list-group-item">Pseudo : {{ app.user.Pseudo}}</li>
        <li class="list-group-item">Mot de passe : {{ app.user.password}}</li>
        <li class="list-group-item">Autorisation : 
            {% for role in app.user.roles %}
                {% if role == 'ROLE_ADMIN' %}
                    Administrateur
                {% elseif role == 'ROLE_PLAYER' %}
                    joueur
                {% elseif role == 'ROLE_REFEREE' %}
                    arbitre
                {% else %}
                    Utilisateur
                {% endif %}
            {{not loop.last ? ',' : ''}}
            {% endfor %}
        </li>
    </ul>
{% endblock %}