{% extends 'base.html.twig' %}

{% block title %} Recherche{% endblock %}
{% block titreH1 %} Résultat de la recherche de <code> {{ mot }}</code></h1> {% endblock %}
{% block body %}

    <div class="card-columns">
        {% for game in games %}
            {{ include ("game/_card.html.twig")}}
        {% else %}
            Aucun résultat trouvé
        {% endfor %}
    </div>

{% endblock %}

{% block piedpage %}
    <p> Footer page d'accueil </p>
{% endblock %}

